# arc .gitignore file #

*.class
*.jar
*.war
*.ear

logs/
target/
exports/
bin/

.cache
.DS_Store
.svn
.gwt/
.metadata/

/RemoteSystemsTempFiles


# Intellij
.idea/
*.iml
*.iws
arc.backend/arc.extractions/data
arc.backend/arc.data